*{
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    
}

#last-section{

    background-color: darkgrey;
}
a{
    text-decoration: none;
    color: red;
}

input{
    border: 0px ;
    border-bottom: 2px solid black;
    margin-left: -5px;
}
